.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #F0F0F0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .navbar {
    width: calc(100% - 6vw);
    height: 12vh;
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3vw;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

    .left {
      width: 50%;

      .logo {
        color: #25427b;
        margin: 0;
        font-size: 2vw;
        font-weight: 600;
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      button {
        width: 20%;
        height: 5vh;
        background-color: #a52a2a;
        border: none;
        border-radius: .8vw;
        opacity: .8;
        color: #FFFFFF;
        font-size: 1.3vw;
        font-weight: 400;
        cursor: pointer;
        margin: 0%;

        &:hover {
          opacity: 1;
        }
      }


      .icon-container {
        width: 3.5vw;
        height: 3vw;
        border: #25427b70 solid .5px;
        border-radius: .5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon {
          color: #25427B;
          font-size: 2.2vw;
        }
      }
    }

  }

  .car-plate-container {
    width: 100%;
    height: 88vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .left {
      width: calc(22vw - .5px);
      height: calc(100% - 4vh);
      position: relative;
      border-right: .5px solid #25427B;
      padding: 2vh 0 2vh 3vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      .input-container {
        width: 100%;
        height: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .label {
          color: #25427B;
          font-size: 1.2vw;
          font-weight: 300;
          margin: 0 0 2vh 0;
        }

        .input-message-container {
          width: 100%;
          min-height: 27%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          input {
            width: 80%;
            height: 55%;
            background-color: #FFFFFF;
            border: .5px solid #25427b7c;
            border-radius: .2vw;
            color: #25427B;
            font-size: 1.2vw;
            font-weight: 300;
            padding: .5vh .5vw;
            margin: 0;
          }
  
          .warning {
            color: #25427B;
            font-size: .8vw;
            font-weight: 300;
            margin: .2vh 0 0 0;
            opacity: .7;
          }
        }


        .verify {
          width: 60%;
          height: 5vh;
          background-color: #25427B;
          border: none;
          border-radius: .8vw;
          opacity: .8;
          color: #FFFFFF;
          font-size: 1.3vw;
          font-weight: 400;
          cursor: pointer;
          margin: 0 0 10vh 0;

          &:hover {
            opacity: 1;
          }
        }

        .camera {
          width: 70%;
          height: 5vh;
          background-color: #25427B;
          border: none;
          border-radius: .8vw;
          opacity: .8;
          color: #FFFFFF;
          font-size: 1.3vw;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .right {
      width: 73vw;
      height: calc(100% - 4vh);
      position: relative;
      padding: 2vh 1vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .object-container {
        min-width: 73vw;
        min-height: 84vh;
        overflow: auto;
        position: relative;

        .reload-button {
          position: absolute;
          top: 0;
          left: 0;
        }

        .object {
          width: 100%;
          height: 84vh;
          overflow: auto;
        }
      }


      .spinner {
        color: #25427B;
        width: 4vw !important;
        height: 4vw !important;
      }

      .title {
        color: #25427B;
        font-size: 2vw;
        font-weight: 400;
        margin: 0;
      }

      .information {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .title {
          color: #25427B;
          font-size: 2vw;
          font-weight: 500;
          margin: 0 0 5vh 0;
        }

        .house {
          color: #25427B;
          font-size: 1.4vw;
          font-weight: 400;
          margin: 0 0 1vh 0;
        }

        .title-visitor{
          color: #25427B;
          font-size: 2vw;
          font-weight: 500;
          margin: 0 0 2vh 0;
        }

        .info-visitor {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .label {
            color: #25427B;
            font-size: 1.4vw;
            font-weight: 600;
            margin: 0 1vw 2vh 0;
          }

          .value {
            color: #25427B;
            font-size: 1.4vw;
            font-weight: 400;
            margin: 0 0 2vh 0;
          }
        }

        .information-row {
          width: 90%;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .left-visitor {
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .info-visitor {
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;

              .label {
                color: #25427B;
                font-size: 1.4vw;
                font-weight: 600;
                margin: 0 1vw 1vh 0;
              }

              .value {
                color: #25427B;
                font-size: 1.4vw;
                font-weight: 400;
                margin: 0 0 1vh 0;
              }
            }
          }
        }

        button {
          width: 20%;
          height: 5vh;
          background-color: #25427B;
          border: none;
          border-radius: .8vw;
          opacity: .8;
          color: #FFFFFF;
          font-size: 1.3vw;
          font-weight: 400;
          cursor: pointer;
          margin: 0%;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}