.app-container-login{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #25427b;
  background-image: url("https://www.megapixall.com/assets/images/Neighborhood-Video-Surveillance.jpg");
  background-size: cover;

  .login-container {
    width: 20vw;
    height: 40vh;
    padding: 5vh;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user-type-selected {
      padding: 0;
      border: none;
      background: none;
      width: 100%;
      text-align: center;
      margin: 0px;
      height: 100%;
      color: white;
      background-color: #3BA45C;
      border-radius: 0.25vw;
    }

    .user-type-not-selected {
      padding: 0;
      border: none;
      background: none;
      width: 100%;
      text-align: center;
      margin: 0px;
      height: 100%;
      font-weight: 200;
      border-radius: 1vw;
    }

    .header-type-user {
      color: #333;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      width: 100%;
      height: 10%;
    }

    .input-container{
      width: 100%;
      color: #333;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;

      .label {
        margin: 0px;
        width: 100%;
      }

      .login-input {
        width: 100%;
      }
    }

    .warning {
      color: #25427B;
      font-size: .8vw;
      font-weight: 300;
      margin: .2vh 0 0 0;
      opacity: .7;
    }


    .login-btn{
      width: 20vw;
      margin: 11px;
      color: white;
      background-color: #238636;
      border-color: #238636;
    }

    .login-btn{
      width: 20vw;
      margin: 11px;
      color: white;
      background-color: #238636;
      border-color: #238636;
    }

    .header {
      font-size: 33px;
      font-weight: 700;
    }
  }
}