input[type=checkbox] {
  display:none;
  }

  input[type=checkbox] + label + label {
    color: #25427B;
    font-size: 1vw;
    font-weight: 500;
    margin: 0 .5vw;
  }

  input[type=checkbox] + label {
    background: rgb(201, 201, 201);
    height: 12px;
    width: 12px;
    display:inline-block;
    padding: 0 0 0 0px;
  }

  input[type=checkbox]:checked + label {
    background: #25427B;
    text-decoration: line-through;
    height: 12px;
    width: 12px;
    display:inline-block;
    padding: 0 0 0 0px;
  }
  
  label p {
    display: inline block;
  }

.modal {
  display: flex;
  position: fixed;
  z-index: 25;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);

  .modal-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 5vh 0;
    width: 45vw;
    height: 65vh;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:-webkit-scrollbar {
      display: none;
    }

    .modal-close {
      position: absolute;
      z-index: 5;
      right: .8vw;
      top: 2.2vh;
      color: #25427b;
      font-size: 1.8vw;
      padding: 0 1vw;

      &:hover,
      &:focus,
      &:active {
        opacity: .5;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .modal-main {
      width: 100%;
      height: 90%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .title {
        width: 80%;
        text-align: center;
        color: #25427B;
        font-size: 1.6vw;
        font-weight: 500;
        margin: 0 0 4vh 0;
      }

      .select {
        width: 35%;
        margin: 0 0 3vh 0;
      }

      .input-container {
        width: 60%;
        height: 12%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 .5vh 0;

        .label {
          color: #25427B;
          height: 30%;
          width: 60%;
          text-align: left;
          font-size: 1vw;
          font-weight: 500;
          margin: 0;
        }

        .input-checkbox {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: .5vh 0 0 0;

          .option {
            display: flex;
            flex-direction: row;
          }
        }

        .select-container {
          width: 70%;
          box-sizing: content-box;
        }

        .input-message-container {
          width: 60%;
          min-height: 70%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          input {
            width: 100%;
            height: 80%;
            background-color: #FFFFFF;
            border: .5px solid #25427b7c;
            border-radius: .2vw;
            color: #25427B;
            font-size: 1vw;
            font-weight: 300;
            padding: .5vh .5vw;
            margin: 0;
          }
  
          .warning {
            color: #25427B;
            font-size: .8vw;
            font-weight: 300;
            margin: .2vh 0 0 0;
            opacity: .7;
          }
        }
      }

      .inputs-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        .left, .right {
          width: 50%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
        }

        .input-container {
          width: 100%;
          height: 12%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin: 0 0 2vh 0;
  
          .label {
            color: #25427B;
            height: 30%;
            width: 70%;
            text-align: left;
            font-size: 1vw;
            font-weight: 500;
            margin: 0;
          }
  
          .input-message-container {
            width: 70%;
            min-height: 70%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
  
            input {
              width: 100%;
              height: 80%;
              background-color: #FFFFFF;
              border: .5px solid #25427b7c;
              border-radius: .2vw;
              color: #25427B;
              font-size: 1vw;
              font-weight: 300;
              padding: .5vh .5vw;
              margin: 0;
            }

            textarea {
              width: 100%;
              height: 10vh;
              background-color: #FFFFFF;
              border: .5px solid #25427b7c;
              border-radius: .2vw;
              color: #25427B;
              font-size: 1vw;
              font-weight: 300;
              padding: .5vh .5vw;
              margin: 0;
            }
    
            .warning {
              color: #25427B;
              font-size: .8vw;
              font-weight: 300;
              margin: .2vh 0 0 0;
              opacity: .7;
            }
          }
        }
      }

      button {
        width: 40%;
        height: 4vh;
        position: absolute;
        left: auto;
        bottom: 1vh;
        background-color: #25427B;
        border: none;
        border-radius: .8vw;
        opacity: .8;
        color: #FFFFFF;
        font-size: 1.3vw;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
