.modal {
    display: flex;
    position: fixed;
    z-index: 25;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
  
    .modal-content {
      background-color: #FFFFFF;
      margin: auto;
      padding: 5vh 0;
      width: 36vw;
      height: 65vh;
      border-radius: 2vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  
      &:-webkit-scrollbar {
        display: none;
      }
  
      .modal-close {
        position: absolute;
        z-index: 5;
        right: .5vw;
        top: 2vh;
        color: #25427b;
        font-size: 2vw;
        padding: 0 1vw;
  
        &:hover,
        &:focus,
        &:active {
          opacity: .5;
          text-decoration: none;
          cursor: pointer;
        }
      }
  
      .modal-main {
        width: 80%;
        height: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
  
        .title {
          width: 100%;
          text-align: center;
          color: #25427B;
          font-size: 1.6vw;
          font-weight: 500;
          margin: 0 0 6vh 0;
        }
  
        .input-container {
          width: 100%;
          height: 12%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin: 0 0 .5vh 0;
  
          .label {
            color: #25427B;
            height: 30%;
            width: 60%;
            text-align: left;
            font-size: 1vw;
            font-weight: 500;
            margin: 0;
          }
  
          .input-message-container {
            width: 60%;
            min-height: 70%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
  
            input {
              width: 100%;
              height: 80%;
              background-color: #FFFFFF;
              border: .5px solid #25427b7c;
              border-radius: .2vw;
              color: #25427B;
              font-size: 1vw;
              font-weight: 300;
              padding: .5vh .5vw;
              margin: 0;
            }
    
            .warning {
              color: #25427B;
              font-size: .8vw;
              font-weight: 300;
              margin: .2vh 0 0 0;
              opacity: .7;
            }
          }
        }
  
        button {
          width: 40%;
          height: 4vh;
          position: absolute;
          left: auto;
          bottom: 6vh;
          background-color: #25427B;
          border: none;
          border-radius: .8vw;
          opacity: .8;
          color: #FFFFFF;
          font-size: 1.3vw;
          font-weight: 400;
          cursor: pointer;
  
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  