.container{
    display: flex;
    width: 80%;
    border-radius: 10px;
    border: .5px solid #25427B;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    height: 100px;
    margin-top: 10px;

    .container_row{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 5px;
        margin: 0px;
        height: 8px;
        color: #25427B;

        .name{
            margin: 0px;
        }

        .info{
            margin: 0px;
        }
    }
}

