.modal-warning {
  display: flex;
  position: fixed;
  z-index: 25;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);

  .modal-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 5vh 0;
    width: 25vw;
    height: 20vh;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:-webkit-scrollbar {
      display: none;
    }

    .modal-main {
      width: 80%;
      height: 80%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .message {
        width: 80%;
        text-align: center;
        color: #25427B;
        font-size: 1.6vw;
        font-weight: 400;
        margin: 0;
      }

      button {
        width: 40%;
        height: 4vh;
        position: absolute;
        left: auto;
        bottom: 2vh;
        background-color: #25427B;
        border: none;
        border-radius: .8vw;
        opacity: .8;
        color: #FFFFFF;
        font-size: 1.3vw;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

    }
  }
}
